.example {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    width: 80%;
}

.numberbox {
    font-family: Lora;
    display: inline-block;
    color: #4f4f4f;
    background: #eee;
    border: 2px solid #5f3f3f;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    margin: 1px
}

.discard {
    color: #f33;
    border-color: #f66;
    background: #fcc;
}

.accept {
    color: #0a6;
    border-color: #0e0;
    background: #cfc;
}

.comparing {
    color: #004c99;
    border-color: #06c;
    background: #cce5ff;
}

.ignored {
    color: #ccc;
    background: #efefef;
    border-color: #e0e0e0
}

.slider {
    -webkit-appearance: none;
    margin-bottom: 15px;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #06c;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #02a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #06c;
    cursor: pointer;
}

.step-num {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.85em
}

.explanation {
    display: inline-block;
    font-size: 1em
}